:root {
  --search-shadow-colour: #d3d3d3;
  --search-shadow-style: 0px 1px 6px var(--search-shadow-colour);
  --search-shadow-hover: 0px 1px 6px 1.5px var(--search-shadow-colour);
}

p {
  margin: 3px;
}

a {
  color: inherit;
}

.App {
  text-align: center;
  margin: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
