.SearchBar {
  margin: 25px;
}

#search-input {
  display: flex;

  font-size: 14px;

  width: 85%;
  height: 30px;
  margin: auto;

  border-style: none;
  box-shadow: var(--search-shadow-style);
}

#search-input:hover {
  box-shadow: var(--search-shadow-hover);
}

#search-input:focus {
  outline: none;
  box-shadow: 0px 1px 6px 3px var(--search-shadow-colour);
}

#search-button {
  margin: 10px;
  box-shadow: var(--search-shadow-style);
}

#search-button:hover {
  cursor: pointer;
  box-shadow: var(--search-shadow-hover);
}
