:root {
  --search-shadow-colour: #d3d3d3;
}

.SearchBar {
  margin: 50px;
}

#search-input {
  width: 80%;
  height: 30px;

  border-style: none;
  box-shadow: 0px 1px 6px var(--search-shadow-colour);
}

#search-input:hover {
  box-shadow: 0px 1px 6px 1.5px var(--search-shadow-colour);
}

#search-input:focus {
  outline: none;
  box-shadow: 0px 1px 6px 3px var(--search-shadow-colour);
}
